<!DOCTYPE html>
<html xmlns:v-show="http://www.w3.org/1999/xhtml">
<head>
    <title>Cali Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- shoud use 3.0.3 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/cali.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="root">
    <headerdiv></headerdiv>

    <div class="page-content">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!--&lt;!&ndash; Main menu &ndash;&gt;<span v-text=""></span>-->
                        <li class="submenu open">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> <span v-text="$t('lang.browse')"></span>
                                <span class="caret pull-right"></span>
                                <ul>
                                    <li @click="changeseen('hotbooks')" :class="booksseen.hotbooks?'current':''"><a href="#hotbooks"><i class="glyphicon glyphicon-star"></i> <span v-text="$t('lang.hotbooks')"></span></a></li>
                                    <li @click="changeseen('newbooks')" :class="booksseen.newbooks?'current':''"><a href="#newbooks"><i class="glyphicon glyphicon-open"></i> <span v-text="$t('lang.newbooks')"></span></a></li>
                                    <li @click="changeseen('discover')" :class="booksseen.discover?'current':''"><a href="#discover"><i class="glyphicon glyphicon-eye-open"></i> <span v-text="$t('lang.discover')"></span></a></li>
                                    <li @click="changeseen('categories')" :class="booksseen.categories?'current':''"><a href="#categories"><i class="glyphicon glyphicon-list"></i> <span v-text="$t('lang.categories')"></span></a></li>
                                    <li @click="changeseen('authors')" :class="booksseen.authors?'current':''"><a href="#authors"><i class="glyphicon glyphicon-user"></i> <span v-text="$t('lang.authors')"></span></a></li>
                                    <li @click="changeseen('language')" :class="booksseen.language?'current':''"><a href="#language"><i class="glyphicon glyphicon-eye-close"></i> <span v-text="$t('lang.language')"></span></a></li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div v-show="booksseen.hotbooks" class="row">
                    <div class="col-md-12">
                        <div class="panel-heading">
                            <h3><span v-text="$t('lang.hotbooks')"></span></h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--hotbook-->
                        <bookdiv v-for="item in hotbooks_computed" v-bind:book="item"></bookdiv>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                        <div id="hotbookspage" class="col-center-block"> </div>
                    </div>
                </div>

                <div v-show="booksseen.newbooks" class="row">
                    <div class="col-md-12">
                        <div class="panel-heading">
                            <h3><span v-text="$t('lang.newbooks')"></span></h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--newbook-->
                        <bookdiv v-for="item in newbooks_computed" v-bind:book="item"></bookdiv>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                        <div id="newbookspage"> </div>
                    </div>

                </div>

                <div v-show="booksseen.discover" class="row">
                    <div class="col-md-12">
                        <div class="panel-heading">
                            <h3><span v-text="$t('lang.discover')"></span></h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--discover-->
                        <bookdiv v-for="item in discover_computed" v-bind:book="item"></bookdiv>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                        <div id="discoverpage"> </div>
                    </div>
                </div>

                <div v-show="booksseen.categories" class="row">
                    <div class="col-md-12">
                        <div class="panel-heading">
                            <h3><span v-text="$t('lang.categories')"></span></h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--categories-->
                        <tagdiv v-show="tagsseen" v-for="item in tags" v-bind:tag="item"></tagdiv>
                        <bookdiv v-show="!tagsseen" v-for="item in categories_computed" v-bind:book="item"></bookdiv>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                        <div v-show="tagsseen" id="tagspage"> </div>
                        <div v-show="!tagsseen" id="tagpage"> </div>
                    </div>
                </div>

                <div v-show="booksseen.authors" class="row">
                    <div class="col-md-12">
                        <div class="panel-heading">
                            <h3><span v-text="$t('lang.authors')"></span></h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--authors-->
                        <authordiv v-show="authorsseen" v-for="item in authornames" v-bind:author="item"></authordiv>
                        <bookdiv v-show="!authorsseen" v-for="item in authors_computed" v-bind:book="item"></bookdiv>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                        <div v-show="authorsseen" id="authornamespage"> </div>
                        <div v-show="!authorsseen" id="authorspage"> </div>
                    </div>
                </div>

                <div v-show="booksseen.language" class="row">
                    <div class="col-md-12">
                        <div class="panel-heading">
                            <h3><span v-text="$t('lang.language')"></span></h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--authors-->
                        <languagediv v-show="languagesseen" v-for="item in languagenames" v-bind:language="item"></languagediv>
                        <bookdiv v-show="!languagesseen" v-for="item in languages_computed" v-bind:book="item"></bookdiv>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                        <div v-show="languagesseen" id="languagenamespage"> </div>
                        <div v-show="!languagesseen" id="languagespage"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-up"></div>
    </div>

    <footerdiv></footerdiv>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- should use 1.11.1 -->
<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- shoud use 3.0.3 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
<link href="https://cdn.bootcss.com/paginationjs/2.0.8/pagination.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdn.bootcss.com/paginationjs/2.0.8/pagination.js"></script>
<script src="https://cdn.bootcss.com/fetch/2.0.3/fetch.js"></script>
<script src="https://cdn.bootcss.com/store.js/1.3.20/store.min.js"></script>
<!--https://github.com/kazupon/vue-i18n-->
<script src="https://cdn.bootcss.com/vue-i18n/7.0.0/vue-i18n.js"></script>
<script src="https://cdn.bootcss.com/vue/2.3.3/vue.js"></script>
<script src="js/cali.header.js"></script>
<script src="js/cali.footer.js"></script>
<script src="js/cali.i18n.js"></script>
<script src="js/cali.js"></script>
</body>
</html>