<!DOCTYPE html>
<html xmlns:v-show="http://www.w3.org/1999/xhtml">
<head>
    <title>Cali {{msg . "person"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="/public/v/css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {{if ne .cnzzid ""}}
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_{{.cnzzid}}'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D{{.cnzzid}}' type='text/javascript'%3E%3C/script%3E"));</script>
    {{end}}
</head>
<body>
<div id="root">
    <headerdiv></headerdiv>
    <div class="page-content">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!--&lt;!&ndash; Main menu &ndash;&gt;<span v-text=""></span>-->
                        <li class="submenu open">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> <span v-text="$t('lang.personcenter')"></span>
                                <span class="caret pull-right"></span>
                                <ul>
                                    <li @click="changeseen('discover')" :class="listseen.discover?'current':''"><a href="#discover"><i class="glyphicon glyphicon-eye-open"></i> <span v-text="$t('lang.discover')"></span></a></li>
                                    <li v-if="userlistseen" @click="changeseen('userlist')" :class="listseen.userlist?'current':''"><a href="#userlist"><i class="glyphicon glyphicon-user"></i> <span v-text="$t('lang.userlist')"></span></a></li>
                                    <li v-if="sysconfigseen" @click="changeseen('sysconfig')" :class="listseen.sysconfig?'current':''"><a href="#sysconfig"><i class="glyphicon glyphicon-cog"></i> <span v-text="$t('lang.sysconfig')"></span></a></li>
                                    <li v-if="sysstatusseen" @click="changeseen('sysstatus')" :class="listseen.sysstatus?'current':''"><a href="#sysstatus"><i class="glyphicon glyphicon-cog"></i> <span v-text="$t('lang.sysstatus')"></span></a></li>
                                    <li @click="changeseen('upload')" :class="listseen.upload?'current':''"><a href="#upload"><i class="glyphicon glyphicon-star"></i> <span v-text="$t('lang.upload')"></span></a></li>
                                    <li @click="changeseen('changeuserinfo')" :class="listseen.changeuserinfo?'current':''"><a href="#changeuserinfo"><i class="glyphicon glyphicon-user"></i> <span v-text="$t('lang.changeuserinfo')"></span></a></li>
                                    <li @click="changeseen('changepassword')" :class="listseen.changepassword?'current':''"><a style="color: red;" href="#changepassword"><i class="glyphicon glyphicon-eye-close"></i> <span v-text="$t('lang.changepassword')"></span></a></li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div v-if="listseen.discover" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.discover')"></span></div>
                    <div class="panel-body">
                        <div v-html="computed_discover"></div>
                    </div>
                </div>

                <div v-show="listseen.userlist" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.userlist')"></span></div>
                    <div class="panel-body">
                        <usersdiv v-bind:userlist="userlist"></usersdiv>

                        <div class="col-md-6 col-md-offset-3 col-xs-12">
                            <div id="userlistpage" class="col-center-block"> </div>
                        </div>
                    </div>
                </div>

                <div v-show="listseen.sysconfig" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.sysconfig')"></span></div>
                    <div class="panel-body">
                        <sysconfigdiv v-bind:sysconfiglist="sysconfiglist"></sysconfigdiv>
                    </div>
                </div>

                <div v-show="listseen.sysstatus" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.sysstatus')"></span></div>
                    <div class="panel-body">
                        <sysstatusdiv v-bind:sysstatuslist="sysstatuslist"></sysstatusdiv>
                    </div>
                </div>

                <div v-if="listseen.upload" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.upload')"></span></div>
                    <div class="panel-body">
                        <form id="uploadfile" method="post" action="/api/book/uploadbook" enctype="multipart/form-data" class="form-horizontal">
                            <input type="hidden" name="session" :value="session">
                            <div class="form-group">
                                <label for="book" class="col-sm-2 control-label"><span v-text="$t('lang.file')"></span>:</label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control" id="book" name="book">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="button" :value="$t('lang.submit')" class="btn btn-default" @click="uploadfile">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div v-if="listseen.changeuserinfo" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.changeuserinfo')"></span></div>
                    <div class="panel-body">
                        <form method="post" action="#" class="form-horizontal">
                            <input type="hidden" name="session" :value="session">
                            <div class="form-group">
                                <label for="userName" class="col-sm-2 control-label"><span v-text="$t('lang.userName')"></span></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" maxlength="64" id="userName" name="userName" v-model="user.userName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label"><span v-text="$t('lang.email')"></span></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" maxlength="128" id="email" name="email" v-model="user.email">
                                </div>
                            </div>
                            <p class="col-sm-offset-2" style="color: red;"><span v-text="changeuserinfotipinfo==''?'':$t(changeuserinfotipinfo)"></span></p>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="button" :value="$t('lang.submit')" class="btn btn-default" @click="changeuserinfo">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div v-if="listseen.changepassword" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.changepassword')"></span></div>
                    <div class="panel-body">
                        <form method="post" action="#" class="form-horizontal">
                            <input type="hidden" name="session" :value="session">
                            <div class="form-group">
                                <label for="oldPassword" class="col-sm-2 control-label"><span v-text="$t('lang.oldLoginPassword')"></span></label>
                                <div class="col-sm-10">
                                    <input v-model="oldLoginPassword" maxlength="64" @change="checkchangepassword" type="password" class="form-control" id="oldPassword" name="userName" :placeholder="$t('lang.oldLoginPassword')">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="loginPassword" class="col-sm-2 control-label"><span v-text="$t('lang.loginPassword')"></span></label>
                                <div class="col-sm-10">
                                    <input v-model="loginPassword" maxlength="64" @change="checkchangepassword" type="password" class="form-control" id="loginPassword" name="loginPassword" :placeholder="$t('lang.loginPassword')">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="repeateLoginPassword" class="col-sm-2 control-label"><span v-text="$t('lang.loginPassword')"></span></label>
                                <div class="col-sm-10">
                                    <input v-model="repeatLoginPassword" maxlength="64" @change="checkchangepassword" type="password" class="form-control" id="repeateLoginPassword" name="repeateLoginPassword" :placeholder="$t('lang.confirmloginPassword')">
                                </div>
                            </div>
                            <p class="col-sm-offset-2" style="color: red;"><span v-text="changepasswordtipinfo==''?'':$t(changepasswordtipinfo)"></span></p>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input @click="changepassword" type="button" :value="$t('lang.submit')" class="btn btn-default">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="row footer-up"></div>
    </div>

    <footerdiv></footerdiv>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/public/v/js/custom.js"></script>
<link href="https://cdn.bootcss.com/paginationjs/2.0.8/pagination.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.7.1/dist/showdown.min.js"></script>
<script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdn.bootcss.com/paginationjs/2.0.8/pagination.js"></script>
<script src="https://cdn.bootcss.com/fetch/2.0.3/fetch.js"></script>
<script src="https://cdn.bootcss.com/store.js/1.3.20/store.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.3.3/vue.js"></script>
<!--https://github.com/kazupon/vue-i18n-->
<script src="https://cdn.bootcss.com/vue-i18n/7.0.0/vue-i18n.js"></script>
<script src="/public/v/js/cali.header.js"></script>
<script src="/public/v/js/cali.footer.js"></script>
<script src="/public/v/js/cali.i18n.js"></script>
<script src="/public/v/js/cali.person.js"></script>
</body>
</html>