<!DOCTYPE html>
<html>
<head>
    <title>Cali {{msg . "person"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/paginationjs/2.0.8/pagination.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/app-loading/0.0.51/app-loading.min.css" rel="stylesheet">
    <link href="/public/v/css/styles.css" rel="stylesheet">
    <link href="/public/v/css/cali.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {{if ne .cnzzid ""}}
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_{{.cnzzid}}'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D{{.cnzzid}}' type='text/javascript'%3E%3C/script%3E"));</script>
    {{end}}
</head>
<body>
<div id="root">
    <headerdiv></headerdiv>
    <div class="page-content">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <button @click="changeseen('discover')" class="list-group-item"><i class="glyphicon glyphicon-eye-open"></i><span v-text="$t('lang.discover')"></span></button>
                    <button v-if="userlistseen" @click="changeseen('userlist')" class="list-group-item"><i class="glyphicon glyphicon-user"></i> <span v-text="$t('lang.userlist')"></span></button>
                    <button v-if="sysconfigseen" @click="changeseen('sysconfig')" class="list-group-item"><i class="glyphicon glyphicon-cog"></i> <span v-text="$t('lang.sysconfig')"></span></button>
                    <button v-if="sysstatusseen" @click="changeseen('sysstatus')" class="list-group-item"><i class="glyphicon glyphicon-cog"></i> <span v-text="$t('lang.sysstatus')"></span></button>
                    <button v-if="categoryseen" @click="changeseen('categoryseen')" class="list-group-item"><i class="glyphicon glyphicon-star"></i> <span v-text="$t('lang.categories')"></span></button>
                    <button v-if="bookseen" @click="changeseen('bookseen')" class="list-group-item"><i class="glyphicon glyphicon-star"></i> <span v-text="$t('lang.bookname')"></span></button>
                    <button @click="changeseen('download')" class="list-group-item"><i class="glyphicon glyphicon-star"></i> <span v-text="$t('lang.download')"></span></button>
                    <button @click="changeseen('upload')" class="list-group-item"><i class="glyphicon glyphicon-star"></i> <span v-text="$t('lang.upload')"></span></button>
                    <button @click="changeseen('changeuserinfo')" class="list-group-item"><i class="glyphicon glyphicon-user"></i> <span v-text="$t('lang.changeuserinfo')"></span></button>
                    <button @click="changeseen('changepassword')" class="list-group-item list-group-item-danger"><i class="glyphicon glyphicon-eye-close"></i> <span v-text="$t('lang.changepassword')"></span></button>

                </div>
            </div>
            <div class="col-md-9">
                <div v-if="needseen('discover')" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.discover')"></span></div>
                    <div class="panel-body">
                        <div v-html="computed_discover"></div>
                    </div>
                </div>

                <div v-show="needseen('userlist')" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.userlist')"></span></div>
                    <div class="panel-body">
                        <input type="text" maxlength="64" v-model="searchloginname" class="form-control">
                        <input type="button" @click="searchloginnameclick" value="Search" class="btn btn-info form-control">
                        <usersdiv v-bind:userlist="userlist"></usersdiv>

                        <div class="col-md-6 col-md-offset-3 col-xs-12">
                            <div id="userlistpage" class="col-center-block"> </div>
                        </div>
                    </div>
                </div>

                <div v-show="needseen('sysconfig')" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.sysconfig')"></span></div>
                    <div class="panel-body">
                        <sysconfigdiv v-bind:sysconfiglist="sysconfiglist" v-on:update="sysconfigupdate"></sysconfigdiv>
                    </div>
                </div>

                <div v-show="needseen('sysstatus')" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.sysstatus')"></span></div>
                    <div class="panel-body">
                        <sysstatusdiv v-bind:sysstatuslist="sysstatuslist" v-on:deletestatus="sysstatusdelete"></sysstatusdiv>
                    </div>
                </div>

                <div v-show="needseen('categoryseen')" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.categories')"></span></div>
                    <div class="panel-body">
                        <input type="text" maxlength="12" v-model="newcategory.category" class="form-control"/>
                        <button type="button" class="btn btn-info form-control" @click="addcategory">ADD</button>

                        <categoriesdiv v-bind:categorylist="categories" v-on:updatecategory="updatecategory" v-on:deletecategory="deletecategory"></categoriesdiv>
                    </div>
                </div>

                <div v-show="needseen('bookseen')" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.bookname')"></span></div>
                    <input type="text" maxlength="12" v-model="bookSearchStr" class="form-control"/>
                    <button type="button" class="btn btn-info form-control" @click="searchBook">Search</button>
                    <div class="panel-body">
                        <bookeditdiv v-bind:books="books" v-bind:categorylist="categories" v-on:updatebook="updatebook" v-on:deletebook="deletebook"></bookeditdiv>
                        <div class="col-md-6 col-md-offset-3 col-xs-12">
                            <div id="bookspage" class="col-center-block"> </div>
                        </div>
                    </div>
                </div>

                <div v-if="needseen('download')" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.download')"></span></div>
                    <div class="panel-body">
                        <h4 v-text="computed_userstatus"></h4>
                    </div>
                </div>

                <div v-if="needseen('upload')" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.upload')"></span></div>
                    <div class="panel-body">
                        <form id="uploadfile" method="post" action="/api/book/uploadbook" enctype="multipart/form-data" class="form-horizontal">
                            <input type="hidden" name="session" :value="session">
                            <div class="form-group">
                                <label for="book" class="col-sm-2 control-label"><span v-text="$t('lang.file')"></span>:</label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control" id="book" name="book">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tag" class="col-sm-2 control-label"><span v-text="$t('lang.tag')"></span>:</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="64" class="form-control" id="tag" name="tag">
                                </div>
                            </div>
                            <div v-if="!uploadFileConfirmSeen" class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="button" :disabled="disabledUpload" :value="disabledUpload?'Waiting...':$t('lang.upload')" class="btn btn-default" @click="uploadfile">
                                </div>
                            </div>

                        </form>

                        <form v-if="uploadFileConfirmSeen" id="uploadfileconfirm" method="post" action="/api/book/uploadbookconfirm" enctype="multipart/form-data" class="form-horizontal">
                            <input type="hidden" name="session" :value="session">
                            <input type="hidden" name="formatId" :value="formatId">
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label"><span v-text="$t('lang.bookname')"></span>:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="title" name="title" :value="uploadbook.title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="author" class="col-sm-2 control-label"><span v-text="$t('lang.authors')"></span>:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="author" name="author" :value="uploadbook.author">
                                </div>
                            </div>
                            <!--<categoriesselectdiv v-bind:categorylist="categories"></categoriesselectdiv>-->
                            <div class="form-group">
                                <label for="Search" class="col-sm-2 control-label"><span >Search</span>:</label>
                                <div class="col-sm-10">
                                    <a :href="'https://www.baidu.com/s?wd='+ uploadbook.title+' 豆瓣'" name="Search" target="_blank" class="btn btn-info"><span v-text="'Search '+uploadbook.title"></span></a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="douban_id" class="col-sm-2 control-label"><span >DoubanId</span>:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="douban_id" name="douban_id" :value="uploadbook.douban_id">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="button" :disabled="disabledConfirm" :value="disabledConfirm?'Waiting...':$t('lang.submit')" class="btn btn-default" @click="uploadfileconfirm">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div v-if="needseen('changeuserinfo')" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.changeuserinfo')"></span></div>
                    <div class="panel-body">
                        <form method="post" action="#" class="form-horizontal">
                            <input type="hidden" name="session" :value="session">
                            <div class="form-group">
                                <label for="userName" class="col-sm-2 control-label"><span v-text="$t('lang.userName')"></span></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" maxlength="64" id="userName" name="userName" v-model="user.userName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="button" :value="$t('lang.submit')" class="btn btn-default" @click="changeuserinfo">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div v-if="needseen('changepassword')" class="panel panel-default">
                    <div class="panel-heading"><span v-text="$t('lang.changepassword')"></span></div>
                    <div class="panel-body">
                        <form method="post" action="#" class="form-horizontal">
                            <input type="hidden" name="session" :value="session">
                            <div class="form-group">
                                <label for="oldPassword" class="col-sm-2 control-label"><span v-text="$t('lang.oldLoginPassword')"></span></label>
                                <div class="col-sm-10">
                                    <input v-model="oldLoginPassword" maxlength="64" @change="checkchangepassword" type="password" class="form-control" id="oldPassword" name="userName" :placeholder="$t('lang.oldLoginPassword')">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="loginPassword" class="col-sm-2 control-label"><span v-text="$t('lang.loginPassword')"></span></label>
                                <div class="col-sm-10">
                                    <input v-model="loginPassword" maxlength="64" @change="checkchangepassword" type="password" class="form-control" id="loginPassword" name="loginPassword" :placeholder="$t('lang.loginPassword')">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="repeateLoginPassword" class="col-sm-2 control-label"><span v-text="$t('lang.loginPassword')"></span></label>
                                <div class="col-sm-10">
                                    <input v-model="repeatLoginPassword" maxlength="64" @change="checkchangepassword" type="password" class="form-control" id="repeateLoginPassword" name="repeateLoginPassword" :placeholder="$t('lang.confirmloginPassword')">
                                </div>
                            </div>
                            <p class="col-sm-offset-2" style="color: red;"><span v-text="changepasswordtipinfo==''?'':$t(changepasswordtipinfo)"></span></p>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input @click="changepassword" type="button" :value="$t('lang.submit')" class="btn btn-default">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="row footer-up"></div>
    </div>

    <footerdiv></footerdiv>

    <tipsmodaldiv></tipsmodaldiv>
</div>
<script src="https://cdn.bootcss.com/app-loading/0.0.51/app-loading.min.js"></script>
<script src="https://cdn.bootcss.com/store.js/1.3.20/store.min.js"></script>
<script src="https://cdn.bootcss.com/fetch/2.0.3/fetch.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdn.bootcss.com/underscore.string/3.3.4/underscore.string.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--https://github.com/kazupon/vue-i18n-->
<script src="https://cdn.bootcss.com/vue-i18n/7.0.0/vue-i18n.js"></script>
<script src="https://cdn.bootcss.com/vue/2.3.3/vue.js"></script>

<script src="https://cdn.bootcss.com/showdown/1.7.1/showdown.min.js"></script>
<script src="https://cdn.bootcss.com/paginationjs/2.0.8/pagination.min.js"></script>

<script src="/public/v/js/cali.component.js"></script>
<script src="/public/v/js/cali.header.js"></script>
<script src="/public/v/js/cali.footer.js"></script>
<script src="/public/v/js/cali.i18n.js"></script>
<script src="/public/v/js/cali.person.js"></script>
</body>
</html>